<<<<<<< HEAD
﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Numero Placa</th>
            <th>Rol</th>
            <th>Fecha Nacimiento</th>
        </tr>
        @foreach(Policia a in ViewBag.Lista) 
        {
            <tr>
                <td>@a.DNI</td>
                <td>@a.Nombre</td>
                <td>@a.NumeroPlaca</td>
                <td>@a.Rol</td>
                <td>@a.FechaNacimiento</td>
            </tr>
        }
    </table>
    
</div>
=======
﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Numero Placa</th>
            <th>Rol</th>
            <th>Fecha Nacimiento</th>
        </tr>
        @foreach(Policia a in ViewBag.Lista) 
        {
            <tr>
                <td>@a.DNI</td>
                <td>@a.Nombre</td>
                <td>@a.NumeroPlaca</td>
                <td>@a.Rol</td>
                <td>@a.FechaNacimiento</td>
            </tr>
        }
    </table>
    
</div>
>>>>>>> 7d1ded54b338defae721414ef5fb8624dbc4d06c
