@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: rgb(0, 0, 0);">Listado de Policias</h1><br>
    
    <button type="button" class="btn btn-primary"><a class="nav-link text-dark" href='@Url.Action("AgregarPolicia","Home")'>Agregar Policia</a></button> <br><br>
    <table> 
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Numero Placa</th>
            <th>Rol</th>
            <th>Id</th>
            <th>Fecha Nacimiento</th>
            <th>Eliminar</th>
            <th>Actualizar</th>
        </tr>
        @foreach(Policia a in ViewBag.Lista) 
        {
            <tr>
                <td>@a.DNI</td>
                <td>@a.Nombre</td>
                <td>@a.NumeroPlaca</td>
                <td>@a.Rol</td>
                <td>@a.Idpolicia</td>
                <td>@(((DateTime)a.FechaNacimiento).ToString("dd/MM/yyyy"))</td>
                <td><form method="post" action='@Url.Action("EliminarPolicia", "Home", new { idPolicia = a.Idpolicia })'>
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form></td>
                <td><button type="button" class="btn btn-info"><a class="text-dark" href='@Url.Action("ModificarPolicia","Home", new {idPolicia = @a.Idpolicia})'>Modificar</a></button></td>
            </tr>
        }
    </table>    
</div>
